<section class="amazing_feature">
    <div class="container">
  
      <div class="row">
        <div class="col-md-12 text-center heading-main">
          <h2 class="heading">OUR SERVICES</h2>
          <p>CHANGING LIVES GLOBALLY</p>
          <div class="separator"><i class="fa fa-home below-line-about-icon"></i></div>
  
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single_feature">
            <div class="feature_icon"><i class="far fa-heart"></i></div>
            <h3>Work Permit</h3>
            <p style="padding-bottom:50px; line-height: 28px;font-size: 16px;">Your study permit also allow you to work while living in canada. Hence, its called a "Study and Work" Programme.</p>
          </div>
        </div><!-- END COL-->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single_feature">
            <div class="feature_icon"><i class="fa fa-magic"></i></div>
            <h3>Admission Processing</h3>
            <p style="line-height: 28px; font-size: 17px;">We process undergraduate and post-graduate admissions. We have affiliation with renowned Schools in Canada.
            </p>
          </div>
        </div><!-- END COL-->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single_feature">
            <div class="feature_icon"><i class="fas fa-location-arrow"></i></div>
            <h3>Visa Application Support</h3>
            <p style="padding-bottom:30px; line-height: 28px;font-size: 17px;">No service fee until visa is approved. We will guide you with the needed  requirements for 
                visa application.
            </p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single_feature">
              <div class="feature_icon"><i class="fas fa-location-arrow"></i></div>
              <h3>Access to Canadian Loan</h3>
              <p style="padding-bottom:8px; line-height: 28px;font-size: 16px;">Our Clients have access to Canadian loans which enable them to cater for their 
                  academic needs  while school in Canada.
              </p>
            </div>
          </div>
          </div>
    </div>
    <!--- END CONTAINER -->
  </section>