<div class="testimonials text-center">

    <div class="container">
      <div class="col-md-12 text-center heading-main">
        <h4 style="color:gray;">Testimonials</h4>
        <h2 class="heading">What Our <span style="color: #f4af00;">Clients Say</span></h2>
        <div class="separator"><i class="fa fa-home below-line-about-icon"></i></div>

      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height: 40px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
              <footer class="blockquote-footer"><cite title="Source Title">Mohamed Nady</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height: 40px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
              <footer class="blockquote-footer"><cite title="Source Title">Mohamed Reda</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height: 40px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
              <footer class="blockquote-footer"><cite title="Source Title">Mohamed Atef</cite></footer>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
