<div class="footer">
    <div class="heading">
      <h2 style="color:#f4af00; font-weight:550">SNOWFOX<sup>&#174;</sup></h2>
    </div>
    <div class="content" style="margin-top:40px;">
      <div class="services">
        <h4>Services</h4>
        <p><a href="#">Work Permit</a></p>
        <p><a href="#">Admission processing</a></p>
        <p><a href="#">Visa Application support</a></p>
        <p><a href="#">Access to Canadian Loan</a></p>
      </div>
      <div class="social-media">
        <h4>Social</h4>
        <p>
          <a href="https://twitter.com/Sanket46171296"
            ><i class="fab fa-twitter"></i> Twitter</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/imsanketbodke/?hl=en"
            ><i class="fab fa-instagram"></i> Instagram</a
          >
        </p>
      </div>
      <div class="links">
        <h4>More</h4>
        <p><a href="#">Privacy and Policy</a></p>
        <p><a href="#">Resources</a></p>
      </div>
      <div class="details">
        <h4 class="address">Address</h4>
        <p>
          N01, Rahman Adeboyejo Street <br />
          Maruwa Lekki, Lagos
        </p>
        <h4 class="mobile">Mobile</h4>
        <p>07006664666</p>
        <h4 class="mail">Email</h4>
        <p>abcdef@gmail.com</p>
      </div>
    </div>
    <footer style="background-color:#fdb801; padding-bottom:10px;color:#fff">
      <hr />
      &copy; 2021 SNOWFOX NIG.
    </footer>
  </div>