 <div class="aboutus-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="aboutus">
            <h2 class="aboutus-title">About Us</h2>
            <p class="aboutus-text" style="line-height: 28px; font-size: 17px;">SnowFox is an International education consulting firm registered with the Corporate Affairs Commission. SnowFox process and give professional support to those looking to live, study, and work in Canada.</p>
            <p class="aboutus-text" style="line-height: 28px; font-size: 17px;">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
            <!-- <a class="aboutus-more" href="#">read more</a> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="aboutus-banner">
            <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="feature">
            <div class="feature-box">
              <div class="clearfix">
                <div class="iconset">
                    <i class="fas fa-fist-raised" id="icon"></i>
                </div>
                <div class="feature-content" style="margin-top:10px">
                  <h4>VISION</h4>
                  <p style="line-height: 28px; font-size: 17px;">Our vision is to become world number one international students recruitment company by 2028 delivering an exceptional international educational services.</p>
                </div>
              </div>
            </div>
            <div class="feature-box">
              <div class="clearfix">
                <div class="iconset">
                    <i class="fas fa-fist-raised" id="icon"></i>
                </div>
                <div class="feature-content" style="margin-top:10px">
                  <h4>MISSION</h4>
                  <p style="line-height: 28px; font-size: 17px;">Our mission is to impact the world by helping people to unleash their potentials through an international standard educational experience.</p>
                </div>
              </div>
            </div>
            <div class="feature-box">
              <div class="clearfix">
                <div class="iconset">
                    <i class="fas fa-fist-raised" id="icon"></i>
                </div>
                <div class="feature-content" style="margin-top:10px">
                  <h4>CORE VALUE</h4>
                  <p style="line-height: 28px; font-size: 17px;">MINDS<br/>

                    M: Meaningful Life<br/>
                    I: Integrity<br/>
                    N: New Innovation<br/>
                    D: Developing our World<br/>
                    S: Social Responsibilities</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>