<div class="image-back">
  <div  id="background-layer">
    <div>
        <div class="header" style="color:White; font-weight:bold; font-size:4rem;margin-bottom:40px; text-shadow: 4px 2px rgba(250, 51, 6, 0.5);">EXPERIENCE CANADA</div>
        <p class="sub-header" style="font-size:20px; color:#fff;font-weight:700;text-shadow: 2px 2px rgba(250, 51, 6, 0.5);">Work, Live and and Study</p>
        <div (click)=" openDialog()" style="background-color: #f4af00; color:#fff; font-size: 23px; border-radius: 27px; padding:7px 35px; font-weight:500" type="button" class="btn btn-outline">
            APPLY NOW
        </div>
    </div>
    <marquee width="50%" direction="left" style="color:#fff; padding-top:10px; font-weight: 700; font-size:19px;">Become canadian citizen while you work and study with full housing support</marquee>
  </div>
</div>

<div>
  <app-our-services></app-our-services>
</div>


<div id="#about">
  <app-about></app-about>
</div>


<div style="margin-bottom:40px;">
  <app-testimonials></app-testimonials>
</div>


