<div class="image-back">
    <div  id="background-layer">
      <div style="padding-top:10%; padding-left:10px">
          <div class="header" style="color:White; font-weight:bold; font-size:3.5rem;margin-bottom:40px; text-shadow: 4px 2px rgba(250, 51, 6, 0.5);">BENEFITS WE OFFER</div>
          <p class="sub-header" style="font-size:20px; color:#fff;font-weight:700;text-shadow: 2px 2px rgba(250, 51, 6, 0.5);">Work, Live and and Study</p>
      </div>
    </div>
</div>



<div class="y-us-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="y-us-head">
            <div class="y-us-title">
              <h2>Why choose us</h2>
              <p>We provide top class Admission processing services to our clients that are willing to work and study</p>
              <span class="y-us-title-border"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="y-us-content">
            <div class="service-3">
              <div class="service-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="y-us-content">
                    <h4 style="font-size: 20px !important; font-weight:500">Flexible Tuition Fee payment Plan</h4>
                    <p>
                        Our partner institutions offer our students a variety of payment plans
                        that are flexible enough achieve; especially with those on budget.
                    </p>
                  </div>
                </div>
              </div>
              <div class="service-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="y-us-content">
                    <h4 style="font-size: 20px !important; font-weight:500"> No Service charge until visa approval</h4>
                    <p>
                        SnowFox does not charge administrative fees until the student's visa application is successful.
                    </p>
                  </div>
                </div>
              </div>
              <div class="service-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="y-us-content">
                    <h4 style="font-size: 20px !important; font-weight:500">No English test or entrance exams needed</h4>
                    <p>
                        Our partner schools already consider Nigerian students English language proficient
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="why-choose-banner">
            <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/why-choose.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="y-us-contentbox">
            <div class="service-3">
              <div class="service-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="y-us-content">
                    <h4 style="font-size: 20px !important; font-weight:500">Guaranteed work permit after visa is approved</h4>
                    <p>
                        Our students are guaranteed work permit after a successful visa
                        application upon arrival.
                    </p>
                  </div>
                </div>
              </div>
              <div class="service-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="y-us-content">
                    <h4 style="font-size: 20px !important; font-weight:500">Accommodation support and soft-landing support</h4>
                    <p>
                        We have on-ground associates ready to receive our students upon arrival.
                        There is also a soft landing accommodation plan for our student.
                    </p>
                  </div>
                </div>
              </div>
              <div class="service-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="y-us-content">
                    <h4 style="font-size: 20px !important; font-weight:500" >Access to student Loans</h4>
                    <p>
                        Our students have access to loan to support their stay and education.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  